.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

h3{
  text-align: center;
  font-size: 30px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.search-bar {
  padding: 10px;
  width: 250px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
